{% extends 'base.html.twig' %}

{% block title %}Hello AdresseController!{% endblock %}

{% block body %}
{{form_start(formAdresse)}}

    <div class="row mb-3">
        <div class="form-group">
            {{form_row(formAdresse.complementAdresse)}}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">{% trans %}Submit Form{% endtrans %}</button>
        </div>
    </div>

{{form_end(formAdresse)}}
{% endblock %}
